name: Go
on:
  pull_request:
    branches:
    - main
    - release-*
  push:
    branches:
    - main
    - release-*
jobs:


  test-unit:
    name: Unit test
    runs-on: [ubuntu-latest]
    steps:

    - name: Check-out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'

    - name: Run unit tests
      run: make test-unit

    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        file: .coverage/coverage_unit.txt
        flags: unit-tests
        name: codecov-unit-test

  test-integration:
    name: Integration test
    runs-on: [ubuntu-latest]
    steps:

    - name: Check-out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'

    - name: Run integration tests
      run: make test-integration

    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        file: .coverage/coverage_integration.txt
        flags: integration-tests
        name: codecov-integration-test

  codegen:
    name: Check code generation
    runs-on: [ubuntu-latest]
    steps:

    - name: Check-out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'

    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        version: '3.15.0'

    - name: Check code generation
      run: ./ci/check_codegen.sh


  manifest:
    name: Check manifest
    runs-on: [ubuntu-latest]
    steps:

    - name: Check-out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'

    - name: Check manifest
      run: ./ci/check_manifest.sh


  golangci-lint:
    name: Golangci-lint
    runs-on: [ubuntu-latest]
    steps:

      - name: Check-out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: Run golangci-lint
        run: make golangci
